--find-links https://download.pytorch.org/whl/torch_stable.html
transformers==4.10.2
pycocotools==2.0.3
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@ffff8acc35ea88ad1cb1806ab0f00b4c1c5dbfd9
ujson
easydict
tensorboardX
av
lmdb
torchvision==0.11.1+cpu
horovod
